[alias]
	logg = log --graph --decorate --oneline --abbrev --all
	spush = push --recurse-submodules=on-demand
	spull = !git pull && git submodule sync --recursive && git submodule update --init --recursive
	merge = merge --no-ff
[core]
    pager = diffr | less -R
	editor = nvim
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[interactive]
	diffFilter = diffr
[pull]
	rebase = true
[status]
	submoduleSummary = true
[user]
	name = paddyroddy
	email = patrickjamesroddy@gmail.com
