[submodule ".config/tmux"]
    path = .config/tmux
    url = ../tmux.git
[submodule ".config/alacritty-theme"]
    path = .config/alacritty-theme
    url = git@github.com:alacritty/alacritty-theme.git
